body{
    box-sizing: border-box;
    overflow-x: hidden;

}
#peffect {
    background-image: url("images/image2.jpg");
    height:100vh;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 20%;
    position: relative;
    width:100%;

}

#midtext h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -70%);
    color: white;
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 70px;

}

#navbar a{
    position: absolute;
    /* Position outside screen */
    left:-10px; 
    /* Transition speed on hover */
    transition: 0.3s;
    padding: 15px;
    width: 300px;
    text-decoration: none;
    font-size:25px;
    color: white;
    margin-left:20px;
    font-weight: bold;
    
}
#navbar a:hover{
    left:0;
    

}

#intro{
    top:20px;
    background-color: #0d8ca6;
    text-align: center;
    
}

#projects{
    top:80px;
    background-color: #0d8ca6;
    text-align: center;
}
#contact{
    top:140px;
    background-color: #0d8ca6;
    text-align: center;
}
#doheader h1{
    position:absolute;
    top:97%;
    left:50%;
    transform: translate(-50%, -70%);
    color: white;
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 30px;
}

.flip-card {
    background-color: #0d8ca6;
    width: 22vw;
    height: 300px;
    perspective: 1000px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front img{
    width: 300px;
    height: 300px;
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* backface-visibility is used to ensure back element is not visible until it's rotated */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   
  }

.flip-card-front {
    background-color: white;
    color: black;
  }
  
.flip-card-back {
    
    background-color: #0d8ca6;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back h1{
    margin-top: 20%;
    text-align: center;
    color:white;
}

.flip-card-back p{
    color:white;
    font-weight: bold;
    font-size: 20px;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 330px;
    background-color:#0d8ca6;
    
}
#peffect2{
    background-image: url("images/image2.jpg");
    height:100vh;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 20%;
    position: relative;
    width:100%;
}
#projectsheader h1{
    position:absolute;
    margin-top:-20px;
    left:50%;
    transform: translate(-50%, -70%);
    color: white;
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 30px;
}

#peffect3{
    background-image: url("images/image2.jpg");
    height:100vh;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 20%;
    position: relative;
    width:100%;
}
.flex-container2{
    display: flex;
    flex-flow: row wrap;
    height: 280px;
    background-color:#0d8ca6;
    width: 100%;
    align-content: center;
}
.flex-container2 div img{
    width: 100%;
    height: 100%;
}
.flex-container2 div{
    margin: 30px;
    width: 15%;
    border: 1px solid white;
    height: 250px;
}
.flex-container2 div:hover{
    box-shadow: 5px 5px 5px 5px white;
}

#finaltext h1{
    position:absolute;
    bottom: -2100px;
    left:50%;
    transform: translate(-50%, -70%);
    color: white;
    font-family: 'Arial';
    text-transform: uppercase;
    font-size: 70px;
}
 /* Adding responsiveness
/* Ipads and tablets */
 @media screen and (max-width: 770px) {
    .flex-container {
      flex-direction: column;
      height: fit-content;
      align-content: center;
      flex-wrap: wrap;
     
    }
    .flex-container2 {
        flex-direction: row;
        height: 180px;
        flex-wrap: wrap;
        align-content: center;
        
    }
    .flex-container2 div img{
        height: 100%;
        width: 90%;
    }
    .flex-container2 div{
        width: 30%;
        height: 45%;
        border: none;
        margin: 5px;
    }
    .flip-card {
        width: 50vw;
        height: 15vh;
        margin: 5px;
       
    }
    .flip-card-inner{
        width:100%;
       
    }
    .flip-card-front img{
        width:100%;
        height: 100%;
    }
    .flip-card-back h1{
        margin-top: 5%;
        text-align: center;
        color:white;
        font-size: 12px;
    }
    
    .flip-card-back p{
        color:white;
        font-weight: bold;
        font-size: 10px;
    }
    #pstack{
        font-size: 11px;
    }
    #patg{
        font-size: 11px;
    }
    
    #doheader h1{
        top:95%;
        left:47vw;
        font-size: 18px;
    }
    #midtext h1{
        top:50%;
        left:50%;
        font-size: 60px;
    }
    #navbar a{
        width: 100px;
        font-size:12px;
    }
    #projectsheader h1{
        margin-top:-15px;
        left:50%;
        font-size: 20px;
    }
    #finaltext h1{
        font-size: 50px;
    }

  } 

/* Small screens and desktops */
@media screen and (max-width: 1300px) {
    .flex-container {
        flex-direction: row;
        height: 180px;
        align-content: center;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .flip-card {
        width: 20vw;
        height: 160px;
       
    }
    .flip-card-inner{
        width:100%;
       
    }
    .flip-card-front img{
        width:100%;
        height: 100%;
    }
    .flip-card-back h1{
        margin-top: 10%;
        text-align: center;
        color:white;
        margin-top: 5px;
        font-size: 20px;
    }
    
    .flip-card-back p{
        color:white;
        font-weight: bold;
        font-size: 15px;
    }
  

    #doheader h1{
        top:98%;
        left:47vw;
        font-size: 17px;

    }
    #projectsheader h1{
        margin-top:-15px;
        left:50%;
        font-size: 14px;
    }
    .flex-container2 {
        flex-direction: row;
        height: 180px;
        flex-wrap: wrap;
        align-content: center;
    }
    .flex-container2 div img{
        height: 100%;
        width: 90%;
    }
    .flex-container2 div{
        width: 27%;
        height: 40%;
        border: none;
        margin: 5px;
    }
    #navbar a{
        width: 150px;
        font-size:18px;
    }
    #finaltext h1{
        font-size: 50px;
        bottom: -1700px;
        font-size: 40px;
    }
    #midtext h1{
        font-size: 45px;
    }

}